<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utils.ExtentReportManager"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="/Users/sarvesh/Documents/Github/java-restassured-testng/src/test/java/test/UserTest.java">
        <classes>
            <class name="test.UserTest">
            </class>
        </classes>
    </test>
</suite>